apiVersion: v1
kind: Secret
metadata:
  name: pgadmin-credentials
type: Opaque
data:
  PGADMIN_DEFAULT_EMAIL: <base64_encoded_email> # admin@example.com
  PGADMIN_DEFAULT_PASSWORD: <base64_encoded_password> # supersecret
# Note: Replace <base64_encoded_email> and <base64_encoded_password> with the actual base64 encoded values.
# You can generate these values using the command:
# echo -n secret_value | base64
