apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
type: Opaque
data:
  POSTGRES_PASSWORD_MAHASISWA: <base64_encoded_password>
  POSTGRES_PASSWORD_LOG: <base64_encoded_password>
  POSTGRES_PASSWORD_ACADEMIC: <base64_encoded_password>
# Note: Replace <base64_encoded_password> with the actual base64 encoded values.
# You can generate these values using the command:
# echo -n your_password | base64
